.floating-button.chat-widget {
  background-color: #25d366; /* WhatsApp green */
  color: #fff;
  font-size: 2.1rem; /* Légèrement augmenté pour centrage visuel */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  line-height: 1; /* Pour éviter le décentrage vertical */
}

.floating-button.chat-widget a,
.floating-button.chat-widget svg {
  color: #fff !important;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button.chat-widget:active {
  background-color: #c59d6b;
  transition: background-color 0.2s;
}

.floating-button.chat-widget:hover {
  transform: scale(1.1);
}

/* Override ChatWith.io default button position */
#chatwithio-button {
  position: fixed !important;
  bottom: 140px !important; /* Adjust to stack below ChatWidget */
  right: 20px !important;
  z-index: 999;
}
