.floating-buttons-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px; /* Consistent vertical spacing */
  z-index: 1000;
}

.floating-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #c59d6b; /* Default button color */
}

.floating-button:hover {
  transform: scale(1.1);
  background-color: #1da851; /* Darker green on hover */
}

@media (max-width: 768px) {
  .floating-button {
    width: 50px;
    height: 50px;
    font-size: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .floating-button {
    width: 55px;
    height: 55px;
    font-size: 1.05rem;
  }
}

/* Spécificités pour chaque bouton si besoin (ex: couleur WhatsApp) */
.floating-button.chat-widget {
  background-color: #25d366;
}

.floating-button.chat-widget:active {
  background-color: #c59d6b;
}

.floating-button.chat-widget a,
.floating-button.chat-widget svg {
  color: #fff !important;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button.scroll-to-top {
  background-color: #c59d6b;
}

.floating-button.tots-els-espais {
  background-color: #c59d6b;
}
